@page "/Agradecimiento"
@model IntProyectoSwRazorPages.Pages.agradecimientoModel
@{
}

<html>
<head>
    <link href="css/ejercicio2.css" rel="stylesheet" />
</head>
<body>
    <main>
        <h1>Encuesta de Satisfacción</h1>
        <p>
            Muchas gracias por sus comentarios.<br />Nos ayudará a mejorar nuestro servicio.
        </p>
        <a href="#">
            <input type="button" value="CONTESTAR DE NUEVO" />
        </a>
    </main>
</body>
</html>