@page "/Encuesta"
@model IntProyectoSwRazorPages.Pages.encuestaModel
@{
}

<html>
<head>
    <link href="css/ejercicio2.css" rel="stylesheet" />
</head>
<body>
    <main>
        <h1>Encuesta de Satisfacción</h1>
        <p>
            ¿Para qué sirve hacer encuestas de satisfacción del cliente?
        </p>
        <div class="escala">
            <img class="muymalo" src="img/bueno.png" />
            <img class="malo" src="img/excelente.png" />
            <img class="regular" src="img/regular.png" />
            <img class="bueno" src="img/malo.png" />
            <img class="excelente" src="img/muymalo.png" />
            <label>Muy malo</label>
            <label>Malo</label>
            <label>Regular</label>
            <label>Bueno</label>
            <label>Excelente</label>
        </div>
        <input id="btn" type="button" value="SIGUIENTE" />

    </main>
</body>
</html>