@page "/jscl9"
@model IntProyectoSwRazorPages.Pages.Lección9Model
@{
}
<html>
<head>
    <title>Lección 9</title>

    <style>
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
        }

            td:first-of-type {
                width: 20%;
            }

        tfoot a {
            display: inline-block;
        }

            tfoot a.selected {
                font-weight: bold;
            }
    </style>
</head>
<body>

    <h1 id="titulo">Lección 9. Págino de datos</h1>

    <table>
        <thead>
            <tr>
                <th>Núm. Control</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                </td>
            </tr>
        </tfoot>
    </table>

    <script src="~/scripts/alumnos.js"></script>
    <script>
        const tbody = document.querySelector("table tbody");
        const tfoot = document.querySelector("table tfoot td");
        const tamañoPagina = 5;
        const totalPaginas = Math.ceil(lista.length / tamañoPagina);
        console.log(lista.length);
        let pagina = 0;

        for (let i = 0; i < tamañoPagina; i++) {
            let tr = tbody.insertRow();
            tr.insertCell();
            tr.insertCell();
        }
        for (let i = 0; i < totalPaginas; i++) {
            let a = document.createElement("A");
            a.textContent = i + 1;
            a.href = "javascript:";
            tfoot.append(a);
        }

        function mostrarDatosPagina(pagina) {
            let inicio = tamañoPagina * pagina;
            //para que no se te olvide
            //toma
            let final = Math.min(inicio + tamañoPagina - 1, lista.length - 1);
            //console.log(final);


            for (let i = inicio, pos = 0; i <= final; i++, pos++) {

                //Yo
                //let tr = tbody.rows[i - inicio];
                //tr.style.display = null;
                //let datos = lista[i];
                //tr.cells[0].textContent = datos.NumControl;
                //tr.cells[1].textContent = datos.Nombre;

                //if(i==lista.length-1)
                //{
                //    tbody.rows[i - inicio + 1].style.display = "none";
                //    //console.log(tbody.rows[i - inicio + 1]);
                //}

                //Alumno
                let alumno = lista[i];
                tbody.rows[pos].cells[0].textContent = alumno.NumControl;
                tbody.rows[pos].cells[1].textContent = alumno.Nombre;
                tbody.rows[pos].style.display = null;
            }

            let total = final - inicio + 1;
            for (let i = total; i < tamañoPagina; i++) {
                tbody.rows[i].style.display = "none";
            }

        }



        tfoot.addEventListener("click", function (event) {
            if (event.target.tagName === "A") {
                let page = parseInt(event.target.textContent) - 1;
                //console.log(page);
                mostrarDatosPagina(page);
            }
        });

        mostrarDatosPagina(pagina);
    </script>
</body>
</html>