@page "/jscl8"
@model IntProyectoSwRazorPages.Pages.Lección8Model
@{
}
<html>
<head>
    <title></title>

    <style>
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }

        td, th {
            border: 1px solid black;
        }

            td:first-of-type {
                width: 20%;
            }
    </style>
</head>
<body>
    <h1> Lección 8. Filtrado de datos</h1>
   @* Arrow functions LINQ*@
    <form>
        <input id="txtSearch" type="search" />
        <input id="btnFiltrar" type="button" value="filtrar" />
    </form>
    <table>
        <thead>
            <tr>
                <th>Num. Control</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script src="~/scripts/alumnos.js"></script>
    <script>
        var tabla;

        function mostrarDatos(datos) {

            tabla ??= document.querySelector("table tbody");//busca la tabla solo la primera vez

            if (tabla.rows.length < datos.length) {
                for (let i = tabla.rows.length; i < datos.length; i++) {
                    let row = tabla.insertRow();
                    row.insertCell();
                    row.insertCell();
                }
            }
            //Si tengo demas los oculto

            for (let i = datos.length; i < tabla.rows.length; i++) {
                tabla.rows[i].style.display = "none";
            }

            for (let i = 0; i < datos.length; i++) {
                tabla.rows[i].cells[0].textContent = datos[i].NumControl;
                tabla.rows[i].cells[1].textContent = datos[i].Nombre;
                tabla.rows[i].style.display=null;
            }
        }
        mostrarDatos(lista);
        const search = document.getElementById("txtSearch");

        document.getElementById("btnFiltrar").addEventListener("click",()=> {
            //lista.where(x=>x.contains(search.value))
            //where= filter, firstOrDefault=find,lastOrDefault=last, Any=some
            let valor= search.value.toUpperCase();
            let filtrado= lista.filter(x=>x.Nombre.includes(valor)||x.NumControl.includes(valor));

            mostrarDatos(filtrado);
        });
    </script>
</body>
</html>
