@page "/jscl10"
@model IntProyectoSwRazorPages.Pages.Lección10Model
@{
}
<html>
<head>
    <title>Lección 10</title>

    <style>
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
        }

            table td, table th {
                border: 1px solid black;
                padding: 5px;
            }

            table th {
                background: black;
                color: white;
            }

            table td:last-of-type {
                text-align: center;
            }

        div {
            padding: 10px;
            text-align: center;
        }

        input[type=button], input[type=submit] {
            background: black;
            color: white;
            padding: 3px 10px;
        }

        div.modal { /*overlay*/
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.3);
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            display:none;
        }

            div.modal form {
               
                background-color: white;
                border: 1px solid black;
                width: 500px;
                margin: 20px auto;
                padding: 20px;
                display: flex;
               
                gap: 10px;
                flex-wrap: wrap;
            }

                div.modal form input[type=text], div.modal form p {
                    width:100%;
                }

                div.modal form input {
                    width: calc(50% - 5px);
                }

    </style>
</head>
<body>
    <h1 id="titulo">Lección 10: CRUD con ventanas modales</h1>

    <div>
        <input type="button" value="Nuevo" id="btnNuevo" />
    </div>

    <table>
        <thead>
            <tr>
                <th>Núm.Control</th>
                <th>Nombre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>171G0218</td>
                <td>Ilse Cecilia Briones Zúñiga</td>
                <td>&vellip;</td>
            </tr>
        </tbody>
    </table>

    <div class="modal">
        <form class="formAgregar">
            <input name="numControl" type="text" placeholder="Número de control" required pattern="\d{2}1[A-Z][EC0DM]\d{3}" />
            <input name="nombre" type="text" placeholder="Nombre" required/>
            <input type="submit" value="Agregar" />
            <input type="button" value="Cancelar" />

        </form>
    </div>

     <div class="modal">
    <form class="formEditar">
    <input type="text" placeholder="Número de control" />
    <input type="text" placeholder="Nombre" />
    <input type="submit" value="Guardar" />
    <input type="button" value="Cancelar" />

    </form>
    </div>

    <div class="modal">
    <form class="formEliminar">
    <p>¿Desea eliminar?</p>
    <input type="submit" value="Si" />
    <input type="button" value="No" />

    </form>
    </div>

    <script>
        const formAgg=document.querySelector(".formAgregar");
        
        document.getElementById("btnNuevo").addEventListener("click", function(){
            formAgg.parentElement.style.display="block";
        })

        document.body.addEventListener("click",function(e){
            if (e.target.tagName == "INPUT" && (e.target.value == "Cancelar" || e.target.value=="No")) {
              e.target.form.reset();
              e.target.form.parentElement.style.display="none";
           }
        });
        document.addEventListener("submit", function(e){

            e.preventDefault();
            let form=e.target;
            if(form.classList.includes("formAgregar")){

            }
        });
    </script>

</body>
</html>