@page "/PanaderiaCinnamoroll"
@model IntProyectoSwRazorPages.Pages.PanaderiaPageModel
@{
}
<html>
<head>
    <title>Panaderia</title>
    <link href="css/ejercicio1.css" rel="stylesheet" />
</head>
<body>
  @* <p>
      Conectarse a una api
   </p>*@
    <main>
        <h1>Punto de Venta - Panaderia</h1>
        <div class="panes">
            <div>
                @*<button>
                    <img src="https://www.panaderiabistro702.mx/cdn/shop/products/concha-chocolate_720x.jpg" />
                    $12.00
                </button>*@



            </div>
        </div>
        <div class="tabla">
            <table>
                <thead>
                    <tr>
                        <th>ARTICULO</th>
                        <th>UNIDADES</th>
                        <th>PRECIO</th>
                        <th>SUBTOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Concha</td>
                        <td>3</td>
                        <td>$12.00</td>
                        <td>$36.00</td>
                    </tr>

                </tbody>
            </table>

        </div>
        <input type="button" value="Cobrar: $0.00" />


    </main>
    <script src="~/scripts/PanaderiaCinnamoroll.js"></script>
</body>
</html>
