@page
@model IntProyectoSwRazorPages.Pages.resultadosModel
@{
}
<html>
<head>
    <link href="css/ejercicio2.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   
</head>
<body>
    <main>
        <h1>Resultados de la encuesta de satisfacción</h1>
        <section class="resultados">
            <div id="chart"></div>
            <div>
                <h2>Total de encuestas:</h2>
                <p id="total">0</p>
                <h2>Puntuación del cliente:</h2>
                <p id="puntuacion">0</p>
            </div>
        </section>
    </main>
    <script type="text/javascript">

        const baseURL = "https://integracion.itesrc.net/api/encuesta/resultados";
        
        async function descargarResultados(){
            let response= await fetch(baseURL);
            if(response.ok){
              let resultados= await response.json();
              document.getElementById("total").textContent= resultados.totalEncuestas;
                document.getElementById("puntuacion").textContent = resultados.puntuacions.toFixed(2);
            }
        }

        google.charts.load('current', { 'packages': ['bar'], 'language': 'es' });
        google.charts.setOnLoadCallback(descargarResultados);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Año', 'Ventas', 'Gastos', 'Ganancias'],
                ['2014', 1000, 400, 200],
                ['2015', 1170, 460, 250],
                ['2016', 660, 1120, 300],
                ['2017', 1030, 540, 350]
            ]);

            var options = {
                chart: {
                    title: 'Rendimiento de la compañia',
                    subtitle: 'Ventas, Gastos y Ganancias: 2014-2017',
                },
                bars: 'horizontal'
            };

            var chart = new google.charts.Bar(document.getElementById('chart'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</body>
</html>



