@page"/Resultados"
@model IntProyectoSwRazorPages.Pages.resultadosModel
@{
}
<html>
<head>
    <link href="css/ejercicio2.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>
    <main>
        <h1>Resultados de la encuesta de satisfacción</h1>
        <section class="resultados">
            <div id="chart"></div>
            <div>
                <h2>Total de encuestas:</h2>
                <p id="total">0</p>
                <h2>Puntuación del cliente:</h2>
                <p id="puntuacion">0</p>
            </div>
        </section>
    </main>
    <script type="text/javascript">

        const baseURL = "https://integracion.itesrc.net/api/encuesta/resultados";

        async function descargarResultados() {
            let response = await fetch(baseURL);
            if (response.ok) {
                let resultados = await response.json();
                document.getElementById("total").textContent = resultados.totalEncuestas;
                document.getElementById("puntuacion").textContent = resultados.puntuacions.toFixed(2);
                //Operador para juntar arreglos .../
                let datos = [
                    ["Criterios", ...resultados.criterios.map(x => x.criterio)],
                    ["Excelente", ...resultados.criterios.map(x => x.excelente)],
                    ["Bueno", ...resultados.criterios.map(x => x.bueno)],
                    ["Regular", ...resultados.criterios.map(x => x.regular)],
                    ["Malo", ...resultados.criterios.map(x => x.malo)],
                    ["Muy malo", ...resultados.criterios.map(x => x.muyMalo)]
                ];
                drawChart(datos);
            };
        }

        google.charts.load('current', { 'packages': ['bar'], 'language': 'es' });
        google.charts.setOnLoadCallback(descargarResultados);

        function drawChart(datos) {
            var data = google.visualization.arrayToDataTable(datos);

            var options = {
                chart: {
                    title: 'Resultados de la encuesta',
                    subtitle: 'Ordenados por criterios',
                },
                bars: 'horizontal'
            };

            var chart = new google.charts.Bar(document.getElementById('chart'));

            chart.draw(data, google.charts.Bar.convertOptions(options));
        }
    </script>
</body>
</html>



